@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --muted-foreground: #737373;
  --border: #e5e5e5;
  --p-color: #626F47;
  --accent: #6D8075;
  --input: #F5F5F5;
  --ring: oklch(0.45 0.08 120 / 0.3);
}

.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
  --border: #404040;
  --p-color: #626F47;
  --muted-foreground: #A6A6A6;
  --accent: #88988D;
  --input: #262626;
  --ring: oklch(0.55 0.08 120 / 0.3);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-muted-foreground: var(--muted-foreground);
  --font-mont: var(--font-montserrat);
  --font-open: var(--font-open-sans);
  --color-border: var(--border);
  --primary-color: var(--p-color);
  --color-primary: var(--p-color);
  --color-accent: var(--accent);
  --color-input: var(--input);
  --color-ring: var(--ring);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --border: #404040;
    --p-color: #626F47;
    --muted-foreground: #A6A6A6;
    --accent: #88988D;
    --input: #262626;
    --ring: oklch(0.55 0.08 120 / 0.3);
  }
} */




* {
  @apply border-border
}

body {
  @apply text-foreground;
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}

.test {
  border: 1px solid red;
}